<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <type name="FishPig\WordPress\App\Url">
        <plugin name="Limely\ImageEngineFishPig\Plugin\WordPress\App\Url"
                type="Limely\ImageEngineFishPig\Plugin\WordPress\App\Url" />
    </type>
    
    <type name="FishPig\WordPress\Model\Post">
        <plugin name="Limely\ImageEngineFishPig\Plugin\WordPress\Model\Post"
                type="Limely\ImageEngineFishPig\Plugin\WordPress\Model\Post" />
    </type>
    
    <type name="FishPig\WordPress_PluginShortcodeWidget\App\View\RemoteHtmlProvider">
        <plugin name="Limely\ImageEngineFishPig\Plugin\WordPress\App\View\RemoteHtmlProvider"
                type="Limely\ImageEngineFishPig\Plugin\WordPress\App\View\RemoteHtmlProvider" />
    </type>
    
</config>
